* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    height: 100vh;
    overflow: hidden;
    background-color: #121026;
}

.menu {
    width: 8.5rem;
    height: 100%;

}

.main {
    flex-grow: 1;
    height: 100%;
    padding: 1rem 0;
}

.main__container {
    width: 100%;
    height: 100%;
    background-color: white;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}